.c-button {
  margin: 15px 0;
  appearance: none;
  background-color: #2971CE;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 7px 15px;
  text-transform: uppercase;
  cursor: pointer;
}