.c-clothes-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #D0E2F6;
  border-radius: 5px;
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.20);
  transition: .3s;
  @media screen and (max-width:680px) {
    padding: 10px;
  }
  cursor: pointer;
  &:hover {
    border: 3px solid #a9caef;
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.50);
  }
  &__image-container {
    width: 100%;
  }
  &__name {
    color: #4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    max-height: 3em;
  }
  &__price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    & > * {
      margin: 4px 0;
      font-size: 15px;
    }
    &__price {
      font-weight: 200;
      color: #666666;
      &.line-through {
        text-decoration: line-through;
      }
    }
    &__discounted-price {
      font-weight: 200;
      color: #cf6a63;
    }
  }
  &__more-colors-container {
    height: 20px;
    &__text {
      font-weight: 700;
      color: #b3b3b3;
    }
  }
}