.c-searcher {
  border: 3px solid #E3E3E3;
  display: flex;
  align-items: center;
  padding: 3px;
  gap: 10px;
  border-radius: 8px;
  &__label {
    & > svg {
      color: #AAAAAA;
      font-size: 25px;
    }
  }
  &__input {
    width: 100%;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    &::placeholder {
      color: #AAAAAA;
    }
    &:focus {
      outline: none;
    }
  }
}